<!DOCTYPE html>
<html>
<head>
  <title>Lorintackett</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="ltackett-portfolio-august-2014"></div>
  <%= javascript_include_tag "application" %>
</body>
</html>
