<div id="contact">
  <h2>Let's build something cool!</h2>
  <div class="content">
    <p>I'm currently available on a limited capacity for part-time contract work.</p>
    <p>If you are in need of a tactical front-end air strike, <a href="mailto:lorin.tackett@gmail.com">get in contact</a> with me today!</p>
  </div>

  <h2>Are you a junior developer?</h2>
  <div class="content">
    <p><a rel="external" href="https://github.com/ltackett/lorintackett.com/tree/portfolio-2014-05" target="_blank">This portfolio</a> is open source. Feel free to study it, or even use it as your own.</p>
    <p>
      I also give private lessons on
      <span class="label label-default">Front-End Development</span>
      <span class="label label-default">HTML</span>
      <span class="label label-default">CSS</span>
      <span class="label label-default">JavaScript</span>
      <span class="label label-default">Ruby</span>
      <span class="label label-default">Rails</span>
      <span class="label label-default">Haml</span>
      <span class="label label-default">Sass</span>
      <span class="label label-default">CoffeeScript</span>
      <span class="label label-default">Linux/Unix Command Lind</span>
      <span class="label label-default">Git</span>
      and
      <span class="label label-default">Mac OSX</span>
    </p>
  </div>
</div>