<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt=""></a>
    <div class="hero-copy">
      <h1>Lorin Tackett</h1>
      <p>UX Designer, Front-End Developer, and the Oxford comma.</p>
    </div>
  </div>
</div>
