<div id="recommendations">
  <h2>Recommendations</h2>

  <blockquote>
    <p>I frequently collaborate with Lorin on several Open Source Software Projects. He's a smart front-end engineer with an eye for both design and great markup and styles. He's eager to learn new technologies and to help create it as well. If you're looking for a forward thinker to take your website's front end to the next level, I think Lorin just might be your man.</p>
    <p>– Chris Eppstein, creator of the Compass framework, Software Engineer at Linkedin.com</p>
  </blockquote>

  <blockquote>
    <p>Lorin is a talented developer and great at managing complex client situations. Having both technical skill and insight into how to manage the human factor in projects is a rare and valuable combination.</p>
    <p>– Ron Kornfeld, Head of EU Business Development at Amazon.com</p>
  </blockquote>

  <blockquote>
    <p>Lorin is an extremely talented, productive, results-oriented developer who has the ability to get things done. He's serious about standards, has a clear aesthetic vision, and does a great job of translating vague, amorphous requirements into impressive deliverables. Always ready to tear into challenging projects, untangle messes, and get his hands dirty. Lorin rocks, he's got my highest endorsement.</p>
    <p>– Miles Ward, Global Head of Solutions Evangelism at Google</p>
  </blockquote>

  <blockquote>
    <p>Lorin is the type of colleague everyone wants to work with: cheerful, detail oriented, thoughtful, accomplished and insightful. He consistently went the extra mile without being asked.</p>
    <p>– Scott Rudolph, Director of Business Development at luxuryrealestate.com</p>
  </blockquote>

  <blockquote>
    <p>Lorin is a master at his ability to use the latest technologies to create deep dynamic web applications and websites.</p>
    <p>As a master of front-end design, he takes his ability to design into the realm of functionality in timely manner.</p>
    <p>Lorin has assisted me with multiple projects that allowed me to deliver to my clients on a timely manner. His ability to jump in to an existing project and fill in the technical blanks to complete the project is very impressive. I recommend his services to any company looking for help with new projects or existing projects.</p>
    <p>– Brandon Hill, Owner of BMH Media, LLC</p>
  </blockquote>

  <blockquote>
    <p>I have worked with Lorin twice in my professional career. Both times were a pleasure. Most recently I contracted Lorin to do some free-lance web design for a project I didn't have time to complete myself. Lorin did a great job at taking ownership of the project with minimal direction from me. His web and graphic design skills were top notch, and his work was quick and responsive. Furthermore, he came in under the budget that he quoted me, while at the same time adding more functionality than we had originally agreed upon - a testament to his project management and technical skills.</p>
    <p>Working with him was most enjoyable and I intend to use his services in the future if possible.</p>
    <p>– Jerry Tindall, Technical Services at Visible Technologies</p>
  </blockquote>

  <blockquote>
    <p>Lorin is bright and works hard. He is dedicated and works well with others. I would hire him again.</p>
    <p>— Steve Teglovic, Founder and CEO at Digital Lifeboat</p>
  </blockquote>
</div>